/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  background-color: black;
  color: white;
}

.divisor {
  border-bottom: white solid 2px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  color: #ebedeb;
  font-size: 90px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading + p {
  margin: -5px 0 0;
  font-size: 20px;
  text-align: center;
  color: #fdfdfd;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */
/* Start Landing Section */
.landing {
  background-image: url(images/mata-atlantica-2.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
  justify-content: center;
  align-items: center;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.836),
    rgba(0, 0, 0, 0.356)
  );
  z-index: 1;
}

.landing .intro-text {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}

.landing .intro-text h1 {
  margin: 0;
  line-height: 0.6;
  font-weight: bold;
  font-size: 95px;
  color: rgb(5, 95, 5);
  -webkit-text-stroke: 0.1px rgb(9, 119, 7);
  font-family: "Rhodium Libre", serif;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  -webkit-text-stroke: 0.1px white;
}

.landing .intro p {
  z-index: 2;
  font-size: 16px;
  line-height: 1.3;
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
    sans-serif;
}
/* End Landing Section */
/* Start Features */
.features {
  padding-top: 5px;
  padding-bottom: var(--section-padding);
  background: linear-gradient(to bottom, rgb(3, 56, 13), rgb(1, 25, 5));
  perspective: 1000px;
}

.features h2 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 80px;

  margin-bottom: 40px;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .feat {
  padding: 20px;
  border: white solid 2px;
  background-color: #0d5816;
  border-radius: 4%;
  text-align: center;
  transition: transform 0.3s ease; /* Transição suave para o efeito 3D */
  transform-style: preserve-3d; /* Mantém os filhos em 3D */
}

.features .feat:hover {
  transform: rotateY(15deg) rotateX(10deg) scale(1.1); /* Efeito 3D ao passar o cursor */
  transition: 0.1s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Efeito de sombra */
}

.features .feat h3 {
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 0 15px 0;
  margin: 5px 0;
  font-size: 20px;
  border-bottom: white solid 2px;
}
.features .feat p {
  line-height: 1.8;
  color: #ffffff;
  font-size: 17px;
}
/* End Features */
/* Start Services  */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: #ffffff solid 1px;
}
.services .services-content .srv .text p {
  color: #ffffff;
  font-weight: 300;
  line-height: 1.6;
}

.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: #0d5816;
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: -60px;
  z-index: -1;
}
.services .services-content .image img {
  width: 400px;
  height: 300px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}

/* End Services  */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: linear-gradient(to bottom, rgb(3, 56, 13), rgb(1, 25, 5));
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card {
  background-color: rgb(0, 101, 30);
  transition: 0.3s ease-in-out;
}

.portfolio .portfolio-content .card:hover {
  transform: scale(1.06);
  transition: 0.3s ease-in-out;
}

.portfolio .portfolio-content .card img {
  max-width: 100%;
  background-size: cover;
  width: 360px;
  height: 240px;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: #e8e8e8;
  line-height: 1.6;
  margin-bottom: 0;
}
/* End Portfolio */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  position: relative;
  width: 450px;
  height: 400px;
}

.about .about-content .image img {
  height: 400px;
  width: 480px;
  position: absolute;
  right: 70px;
}

@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -90px;
  z-index: -1;
}
.about .about-content .image::after {
  top: -40px;
  content: "";
  position: absolute;
  width: 90px;
  height: 300px;
  border-left: 80px solid #0a8918;
  border-bottom: 80px solid #0d5816;
  z-index: -1;
  right: -40px;
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .image img {
  max-width: 100%;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: #0a8918;
}
.about .about-content .text p:last-of-type {
  line-height: 2;
  color: #ababab;
}
/* End About */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background: linear-gradient(
    to bottom,
    rgb(4, 119, 29),
    rgb(5, 67, 6),
    rgb(0, 0, 0)
  );
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 30px;
  font-weight: 600;
  color: rgb(212, 235, 212);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}

@media (max-width: 767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */
